body {
    background-color: Beige;
}

canvas {
    background-color: MintCream;
}

#bp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bp-canvas {
    display: block;
    margin: 50px;
}

#bp-load, #bp-start {
    display: block;
    margin: 5px;
    font-size: 16px;
}

#bp-load {
    text-align-last: center;
}
