<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="bp-wrapper">
        <canvas id="bp-canvas" width="1280" height="720">canvas not supported!</canvas>
        <input id="bp-load" type="file">
        <button id="bp-start">start</button>
        <button id="bp-pause">pause</button>
        <button id="bp-resume">resume</button>
    </div>
</body>
</html>
